@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;800&display=swap');

#root {
  font-family: 'Outfit', sans-serif;
  background-color: beige;
}

.medium{
  font-weight: 600;
}

.bold {
  font-weight: 800;
}